#mainheading{
  font-size: 1em;
  color: navy;
  background-color: grey;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  text-align: center;
  font-family: Helvetica, Ariel, sans-serif;
  padding: 20px;
}

#heading{
  color: navy;
  background-color: grey;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  padding: 20px;
  font-weight: 100px;
  text-align: center;
}

.container2{
  margin: 150px auto;
  width: 50%;
  height: 50%;
}

.menu{
  width: 400px;
  height: 250px;
  background-color: red;
  overflow: hidden;
  transition: width 0.3s, height 0.3s, background-colour 0.3s;
  }

  .menu div {
    opacity: 0;
    pointer-events: none;
  }

  .out {
    background-color: rgb(191, 246, 214);
    width: 70vh;
    height: 100vh;
  }

  .out div{
    opacity: 1;
    padding: 10px;
    border-bottom: 1px solid white;
    pointer-events: all;
  }

  .menu2{
    width: 400px;
    height: 250px;
    background-color: yellow;
    overflow: hidden;
    transition: width 0.3s, height 0.3s, background-colour 0.3s;
    }

    .menu2 div {
      opacity: 0;
      pointer-events: none;
    }

    .out {
      background-color: rgb(191, 246, 214);
      width: 70vh;
      height: 100vh;
    }

    .out div{
      opacity: 1;
      padding: 10px;
      border-bottom: 1px solid white;
      pointer-events: all;
    }
